In [ ]:
import pandas as pd

file = pd.read_excel('/content/AI_Wave_1.xlsx')

In [ ]:
positive_list = []
negative_list = []
fword_list = []

In [ ]:
with open("/content/positive_data.txt", "r") as outfile:
  for i in outfile.readlines():
    i = i.replace('\n', '')
    positive_list.append(i)

In [ ]:
for i in range(file.index.stop):
    if file['감정_대분류'][i] == "기쁨":
      positive_list.append(file['사람문장1'][i] + '\n')

In [ ]:
for i in range(file.index.stop):
  if file['감정_대분류'][i] != "기쁨":
    negative_list.append(file['사람문장1'][i])

In [ ]:
with open("/content/fword_data.txt", "r") as outfile:
  for i in outfile.readlines():
    i = i.replace('\n', '')
    fword_list.append(i)

In [ ]:
len(positive_list)

8388

In [ ]:
len(negative_list)

8321

In [ ]:
len(fword_list)

8029

In [ ]:
final_data = pd.DataFrame(columns=["Sentence", "label"])
final_data

# 긍정 > 부정 > 욕설 추가
for i in range(len(positive_list)):
  final_data.loc[i] = [positive_list[i], "긍정"]

for i in range( len(negative_list)):
  final_data.loc[i+ len(positive_list)] = [negative_list[i], "부정"]

for i in range( len(fword_list)):
  final_data.loc[i+ len(positive_list) + len(negative_list)] = [fword_list[i], "욕설"]

In [ ]:
final_data

                                                Sentence label
0      진짜 내 삶에 위로가 되는 노래ㅠㅠ 밝고 발랄한 멜로디인데 이 노래만 들으면 눈물이 난다    긍정
1      가사가 너무 아름다워요 요즘 아침마다 들으면서 긍정으로 아침을 시작하고 있어요 감사...    긍정
2      와 진짜 내가 이걸 처음 들었을때의 감동을 잊을수가 없다..들으면서 위로받고 먹먹했...    긍정
3      그냥 좋다....이 좋음을 이 글로 표현 할 수 가없다...아이유는 가수계의 모차르...    긍정
4      대한민국에서 제일 메이저한 여가수 중 한명인 아이유가 말하는 마이너한 아름다움이라니...    긍정
...                                                  ...   ...
24733                        인권충 으디갔노이기야 n번방은 인권충도 거르노이기    욕설
24734                 이젠 음식갔고 성차별이렌다.. 이런 미친 언론... 퉷~~~♡    욕설
24735  윽엑 .. 시발 나알던 흙수저 공시충 생각나노.. 흙수저 새끼들 결혼하고 애낳는거에...    욕설
24736  이해할 수 있는 사람도 있고 이해하지 못하는 사람도 있다. 이해하라고 강요하는 사람...    욕설
24737   그러니까 흙수저로 계속 사는거지 그냥 넵둬라 흙수저나 창녀나 그렇게 삶을 살다 가는거지    욕설

[24738 rows x 2 columns]

In [ ]:
final_data = final_data.sample(frac=1).reset_index(drop=True)

In [ ]:
final_data

                                                Sentence label
0      홍진영 언니 진짜 연기 잘해!!얼굴두 이쁘구 노래두 잘 부르구 끼도 많음~~나는.....    긍정
1      그동안 열심히 앞만 보면서 묵묵히 살아왔는데 건강이 많이 안 좋다고 하네. 열심히 ...    부정
2                  나를 떨리게 하나요~ 부터 완전 끌림~^^ 장범준 노래 멋져요~^^    긍정
3                                        도움이 되었습니다 감사합니다    긍정
4                                             똥이 묻었노ㅋㅋㅋㅋ    욕설
...                                                  ...   ...
24733                    활기찬 하루를 보내려고 해도 기운이 없어. 너무 힘들어.    부정
24734  요리를 하다가 칼에 손이 많이 베여서 병원에 갔는데 다행히 인대는 안 다쳤데 얼마나...    긍정
24735                               아직 한국여자랑 결혼하는 등신이 있냐    욕설
24736                        하다하다 데이트폭력범을 방송에 소환하니......    욕설
24737                        아빠 사업에 문제가 생겼다고 하네 많이 불안하다.    부정

[24738 rows x 2 columns]

In [ ]:
final_data.to_csv('final_data.csv', encoding='utf-8-sig', mode = 'w', index = True)